<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Welcome</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="container center">
  <div class="card">
    <h2 class="title">👋 Hi, {{ user['name'] or user.get('email') }}</h2>
    <p class="subtitle">You have successfully signed-in.</p>

    <a class="btn outline" href="/logout">Log out</a>
  </div>
</body>
</html>